{% extends 'base.html' %}

{% block titulo %} About {% endblock%}
{% block contenido %} 

<p>Veniam ea consequat sit id ea nisi ipsum esse aliquip eu. Laboris sit mollit ullamco nisi est sint excepteur laborum duis laboris aliquip quis. Ad esse voluptate ut tempor sit elit culpa irure. Non elit occaecat culpa esse cupidatat ea anim in tempor ad magna sint id in.

Officia pariatur deserunt adipisicing ex sint pariatur ad proident aliqua. Voluptate in commodo incididunt non deserunt quis. Exercitation amet sunt laborum fugiat. Eu in nulla consequat ipsum laboris amet fugiat esse elit quis non. Qui consectetur minim ut in ipsum eiusmod enim et laborum. Deserunt esse ut ut reprehenderit qui laboris eiusmod proident. Aliquip pariatur velit sunt eu qui.</p>
{%endblock %}